<app-default-login-layout
title="Login into your account"
primaryBttnText="Login Now"
secondaryBttnText="Signup Now"
>
    <form [formGroup]="loginForm">
        <app-primary-input  
        formName="email"
        type="email"
        label="email"
        placeholder="test@gmail.com"
        >
        <img src="/assets/svg/iconEmail.svg">
    </app-primary-input>
    <app-primary-input  
        formName="password"
        type="password"
        label="Your Password"
        placeholder="password"
        >
        <img src="/assets/svg/iconPassword.svg">
    </app-primary-input>
    </form>
</app-default-login-layout>