<app-default-login-layout
title="Login into your account"
primaryBttnText="Login Now"
secondaryBttnText="Signup Now"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBttn]="!loginForm.valid"
>
    <form [formGroup]="loginForm">
        <app-primary-input
        formControlName = "email"  
        inputName="email"
        type="email"
        label="Email Address"
        placeholder="alex@email.com"
        >
        <img src="/assets/svg/iconEmail.svg">
    </app-primary-input>
    <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Password"
        placeholder="Enter your password"
        >
        <img src="/assets/svg/iconPassword.svg">
    </app-primary-input>
    <span>
        Forgot password?
    </span>
    </form>
</app-default-login-layout>